<!DOCTYPE html>
<head>
    <title>This is index page</title>
</head>
<body>
    <center>
        <h1>How to create CRUD Operation</h1>
        <h2>Djanog Web Framework</h2>
        <hr>
        <a href="{% url 'stinsert' %}">Add Student Record</a>
        <table>
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Gender</th>
            </tr>
            {% for displayst in curdst%}
            <tr>
                <td>{{displayst.id}}</td>
                <td>{{displayst.stname}}</td>
                <td>{{displayst.stmail}}</td>
                <td>{{displayst.staddress}}</td>
                <td>{{displayst.stmobile}}</td>
                <td>{{displayst.stgender}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>